# Created by https://www.toptal.com/developers/gitignore/api/nuxtjs
# Edit at https://www.toptal.com/developers/gitignore?templates=nuxtjs

### Nuxtjs ###
# Nuxt build
.nuxt

# Nuxt generate
dist

# End of https://www.toptal.com/developers/gitignore/api/nuxtjs

# Recommended template: Node.gitignore

node_modules/
dist/
npm-debug.log
yarn-error.log

# End of https://mrkandreev.name/snippets/gitignore-generator/#Vuejs
